<h1>All Queues</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @queues.each do |queue| %>
      <tr>
        <td><%= queue.name %></td>
        <td><%= queue.size %></td>
        <td>
          <% if queue.paused? %>
            <%= button_to 'Resume', resume_solid_queue_interface_queue_path(queue.name) %>
          <% else %>
            <%= button_to 'Pause', pause_solid_queue_interface_queue_path(queue.name) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>