<h1>Paused Queues</h1>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <% @queues.each do |queue| %>
      <tr>
        <td><%= queue.id %></td>
        <td><%= queue.queue_name %></td>
        <td><%= queue.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>