/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require 'solid_queue_interface/overrides'
*/
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Table styling */
#solid_queue_interface table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  width: 100%;
}
/* Show alternate striped table rows */
#solid_queue_interface table thead tr,
#solid_queue_interface table tbody tr:nth-of-type(even) {
  background: #f7f8f9;
}
/* Highlight hovered table row */
#solid_queue_interface table tbody tr:hover {
  background: #eef0f3;
}
/* Table TD styling */
#solid_queue_interface table td {
  border-bottom: .05rem solid #dadee4;
  padding: .6rem .4rem;
  vertical-align: top;
}
/* Table TH styling */
#solid_queue_interface table th {
  border-top: .1rem solid #dadee4;
  border-bottom: .1rem solid #dadee4;
  padding: .6rem .4rem;
  vertical-align: top;
}

/* Navbar styling */
#solid_queue_interface .navbar {
  align-items: stretch;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* Navbar Logo */
#solid_queue_interface .navbar .navbar-brand {
  font-weight: bold;
  text-decoration: none;
}
/* Navbar Link */
#solid_queue_interface .navbar .navbar-link {
  padding: 0 0.5em;
}
/* Styling for action buttons */
#solid_queue_interface .btn {
  border-width: 1px;
  border-radius: 0.25rem;
  border-style: solid;
  color: white;
}
#solid_queue_interface .btn.retry-btn {
  background: #198754;
  border-color: #198754;
}
#solid_queue_interface .btn.pause-btn {
  background: #dc3545;
  border-color: #dc3545;
}
#solid_queue_interface .btn.resume-btn {
  background: #198754;
  border-color: #198754;
}